body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
    color: #333;
}

.navbar {
    margin-bottom: 20px;
}

footer {
    background-color: #2f2f2f;
    color: white;
    padding: 10px 0;
}

.container {
    margin-top: 20px;
}
