{% extends 'voting/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h2 class="text-center">Active Elections</h2>

  {% if active_elections %}
    <ul class="list-group">
      {% for election in active_elections %}
        <li class="list-group-item">
          <a href="{% url 'election_detail' election.id %}">
            {{ election.title }}
          </a>
          <p>{{ election.description }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No active elections at the moment.</p>
  {% endif %}
</div>
{% endblock %}
